{% extends "basic_view.html" %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Junior Incubator - get team programming experience</title>
</head>

{% block body %}
<body>
        <div class="text-start mb-6">
                    <img src="{{ url_for('static', filename='img/ji_logo.png') }}" class="rounded" style="height: 200px;" alt="Logo">
        </div>
    <h1>Junior incubator</h1>
    <a href="{{ url_for('login') }}">Login</a><br>
    <a href="{{ url_for('register') }}">Register</a><br>

</body>

{% endblock %}