{% extends "basic_view.html" %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

{% block body %}
<body>
    <h1>Junior incubator Login Page</h1>
<div class="page-single">
    <div class="container">
        <div class="row">
            <div class="col col-login mx-auto">
                <form method="POST" action="" role="form" class="card">

                    <div class="card-body p-6">
                        {% with messages = get_flashed_messages() %}
                          {% if messages %}
                            <ul class=flashes>
                            {% for message in messages %}
                              <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}
                        <div class="card-title">Login</div>
                            {{ form.hidden_tag() }}
                             {{ form.email }}
                             {{ form.password }}
                            {{ form.submit }}
                        <div class="card-body p-6">
                        <small>
                            <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a>
                        </small>
                        </div>
                    </div>
                </form>
                <div class="text-center text-muted">
                    <hr class="thin" />
                </div>

            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}